/* Styles for the printer-friendly version of the page */
/* Remove background colors and images, use black ink */
* {
 background: transparent !important;
 color: black !important;
}
body {
 width: auto !important;
 font-size:16pt;
}
/* Size to fit width of the printed page
#wrapper {
 width: 98%;
 margin: 1em auto;
 max-width: none;
 min-width: none;
} */
/* Don't display the navigation bar */
/* You can use the same idea to hide anything else 
 that you don't want on the printed page */
nav {
 display: none;
}
/* Make links black and underlined */
a, a:link, a:visited, hr {
 color: black;
}
h2 {
    font-size:28pt;
}
h4 {
    font-size:24pt;
}
/* Show URL afer link (only good for external links) */
/* a[href]:after {
 content: " (" attr(href) ")";
} */
/* Limit width of images to their containing elements */
img {
 max-width: 100%;
}
.sidebar-offcanvas {
    display: none;
}
.nav-link {
    display: none;
}
.current-leaders {
    margin: 0;
    border: none;
}
.standings {
    margin: 0;
    font-size:20pt;
    border: none;
}